{% extends "main/base.html" %}

{% block content %}
<!-- Container Principal -->
 <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Gestión de Roles</h2>
        <a class="btn btn-success" href="{% url 'role_create' %}" >Agregar Rol</a>
    </div>

    <!-- Tabla CRUD -->
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Color</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.color }}</td>
                <td>{{ role.name }}</td>
                <td>
                    <a href="{% url 'role_update' role.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteRoleModal{{ role.id }}">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Modal para Eliminar Rol -->
{% for role in roles %}
<div class="modal fade" id="deleteRoleModal{{ role.id }}" tabindex="-1" aria-labelledby="deleteRoleModalLabel{{ role.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRoleModalLabel{{ role.id }}">Eliminar Rol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar el rol "{{ role.name }}"?</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'role_delete' role.id %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}