{% extends "main/base.html" %}

{% block content %}
<!-- Container Principal -->
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Perfil de {{user}}</h2>
    </div>
    {{bought_cars}}
    {% if bought_cars|length > -1 %}
        <!-- Tabla CRUD -->
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>imagen del auto</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
                {% for car in bought_cars %}
                <tr>
                    <td>
                        {% if car.image %}
                        <img src="{{car.image.url}}" style="height: 150px;">
                        {% endif %}
                    </td>
                    <td>{{ car.car_model.brand.name }}</td>
                    <td>{{ car.car_model.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>


{% endblock %}