{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-6">
            <h2>{% blocktrans %} Perfil de {{ user }}{% endblocktrans %}</h2>
        </div>
    </div>

    {% if cosmetic_roles|length > 0 %}
    <p>{% trans "Roles cosméticos" %}:</p>
    <div class="row mx-0">
        {% for role in cosmetic_roles %}
        <div class="col-md-4 mb-2">
            <div class="card text-white">
                <div class="card-body">
                    <p class="card-text text-black">{{ role }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        <h5>{{ user }} {% trans "no tiene ningún rol cosmético" %}.</h5>
    </div>
    {% endif %}


    <!-- si tiene autos comprados -->
    <hr class="my-5">
    {% if bought_cars|length > 0 %}
    <h6>{% blocktrans %}Autos que {{user}} ha comprado: {% endblocktrans %}</h3>
        <table class="table table-bordered ">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>{% trans "Imagen del auto" %}</th>
                    <th>{% trans "Marca" %}</th>
                    <th>{% trans "Modelo" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in bought_cars %}
                <tr>
                    <td>{{ sale.id }}</td>
                    <td>
                        {% if sale.car.image %}
                        <img src="{{sale.car.image.url}}" style="height: 150px;">
                        {% endif %}
                    </td>
                    <td>{{ sale.car.car_model.brand.name }}</td>
                    <td>{{ sale.car.car_model.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning mt-5" role="alert">
            <h5>{{ user }} {% trans "no ha comprado ningún auto" %}.</h5>
        </div>
    {% endif %}
</div>



{% endblock %}